.form-desgin {
  width: 50%;
  margin: 150px auto 60px;
  box-shadow: 5px 5px 10px #000;
  border-radius: 8px;
  padding: 20px;
}
.login-form input {
  margin: 10px 0px;
}
.google {
  text-align: center;
  margin-top: 20px;
}
