.nav-menu {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: #341f97;
  color: #fff;
}
.nav-menu h1 {
  font-style: italic;
  font-weight: bold;
}
.nav-menu h1 span {
  color: #ee5a24;
}
.menu {
  margin-top: 10px;
}
.menu a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 5px;
  margin-right: 6px;
  color: #fff;
}

@media (max-width: 576px) {
  .nav-menu {
    display: block;
    text-align: center;
  }
  .menu {
    margin-top: 20px;
  }
}
